//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
//@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700');
//@import url('https://fonts.googleapis.com/css?family=Nunito:300i,400,700');

// Roboto Thin - normal
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/100_Thin/Roboto-Thin.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/100_Thin/Roboto-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/100_Thin/Roboto-Thin.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/100_Thin/Roboto-Thin.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/100_Thin/Roboto-Thin.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 100;
    font-style: normal;
    }
// Roboto Thin - italic
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/100_Thin/Roboto-Thin_italic.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/100_Thin/Roboto-Thin_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/100_Thin/Roboto-Thin_italic.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/100_Thin/Roboto-Thin_italic.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/100_Thin/Roboto-Thin_italic.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 100;
    font-style: italic;
    }





// Roboto Light - normal
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/300_Light/Roboto-Light.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/300_Light/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/300_Light/Roboto-Light.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/300_Light/Roboto-Light.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/300_Light/Roboto-Light.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 300;
    font-style: normal;
    }
// Roboto Light - italic
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/300_Light/Roboto-Light_italic.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/300_Light/Roboto-Light_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/300_Light/Roboto-Light_italic.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/300_Light/Roboto-Light_italic.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/300_Light/Roboto-Light_italic.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 300;
    font-style: italic;
    }





// Roboto Regular - normal
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/400_Regular/Roboto-Regular.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/400_Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/400_Regular/Roboto-Regular.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/400_Regular/Roboto-Regular.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/400_Regular/Roboto-Regular.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 400;
    font-style: normal;
    }
// Roboto Regular - italic
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/400_Regular/Roboto-Regular_italic.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/400_Regular/Roboto-Regular_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/400_Regular/Roboto-Regular_italic.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/400_Regular/Roboto-Regular_italic.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/400_Regular/Roboto-Regular_italic.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 400;
    font-style: italic;
    }





// Roboto Medium - normal
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/500_Medium/Roboto-Medium.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/500_Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/500_Medium/Roboto-Medium.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/500_Medium/Roboto-Medium.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/500_Medium/Roboto-Medium.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 500;
    font-style: normal;
    }
// Roboto Medium - italic
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/500_Medium/Roboto-Medium_italic.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/500_Medium/Roboto-Medium_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/500_Medium/Roboto-Medium_italic.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/500_Medium/Roboto-Medium_italic.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/500_Medium/Roboto-Medium_italic.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 500;
    font-style: italic;
    }





// Roboto Bold - normal
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/700_Bold/Roboto-Bold.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/700_Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/700_Bold/Roboto-Bold.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/700_Bold/Roboto-Bold.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/700_Bold/Roboto-Bold.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 700;
    font-style: normal;
    }
// Roboto Bold - italic
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/700_Bold/Roboto-Bold_italic.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/700_Bold/Roboto-Bold_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/700_Bold/Roboto-Bold_italic.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/700_Bold/Roboto-Bold_italic.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/700_Bold/Roboto-Bold_italic.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 700;
    font-style: italic;
    }





// Roboto Black - normal
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/900_Black/Roboto-Black.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/900_Black/Roboto-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/900_Black/Roboto-Black.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/900_Black/Roboto-Black.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/900_Black/Roboto-Black.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 900;
    font-style: normal;
    }
// Roboto Black - italic
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/900_Black/Roboto-Black_italic.eot'); /* IE9+ Compat Modes*/
    src: url('../fonts/Roboto/900_Black/Roboto-Black_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8*/
         url('../fonts/Roboto/900_Black/Roboto-Black_italic.woff2') format('woff2'), /* Super modern browsers*/
         url('../fonts/Roboto/900_Black/Roboto-Black_italic.woff') format('woff'), /* Modern browsers*/
         url('../fonts/Roboto/900_Black/Roboto-Black_italic.ttf') format('truetype'); /* Safari, Android, iOS*/
    font-weight: 900;
    font-style: italic;
    }
    